body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.post-card {
    max-width: 1065px;
    max-height: 710px;
    margin: 20px auto;
    border: 3px solid #e07cf1;
    border-radius: 15px;
    overflow: hidden;
    background-image:url(img/fondoMN.jpg);
    box-shadow: 0px 0px 25px #ef93ff;
    background-size: cover /* Alineamiento del fondo con el borde */
}

.content {
    display: flex;
}

.image {
    flex: 1;
    text-align: center; 
    margin-top: 5%; 
    margin-bottom: 5%;
}

.image img {
    width: 80%;
    border: 3px solid rgb(243, 182, 28);
    box-shadow: 0px 0px 10px goldenrod;
}

.text {
    flex: 1;
    padding: 20px;
}

.text h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid rgb(243, 182, 28);
    box-shadow: 0px 0px 10px goldenrod;
    background-image: url(img/fondo\ textoMN.jpg);
    background-position: 90%;
    margin-top: 75%; /* Para mover el texto abajo del todo */
    margin-right: 10%;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-right: 5%;
}
